@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.login__outer-02 {
  width: 100%;
  height: 85px;
  background-color: #ffffff;
  border-bottom: solid 0.1px #ededed;
}
.feed__text-04 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 20px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.41px;
  color: #4a4a4a;
  display: inline-block;
  margin-left: 75px;
}
.menu-02 {
    margin: 0;
    padding: 35px;
    display: flex;
    justify-content: space-between;
}
.q {
  width: 55px;
  height: 47px;
  opacity: 0.74;
  display: inline-block;
  margin-top: -10px;
}
.feed__text-05 {
  @extend .feed__text-04;
  margin-right: 13px;
}