@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@mixin font()
{
    font-family: 'SpoqaHanSansNeo-Regular', serif;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    letter-spacing: normal;
}
body
{
    overflow: hidden;
}
.login__outer
{
    width: 1920px;
    height: 1080px;
    background-color: #fbfbfb;
}

.feed__text-01
{
    width: 60px;
    height: 31px;
    margin: 36.1px 593px 33px 130px;
    @include font();
    font-family: 'Nanum Myeongjo', serif;
    font-size: 27px;
    font-weight: 800;
    line-height: 1.15;
    letter-spacing: 0.41px;
    color: #4a4a4a;
    display: inline-block;
    }
.feed__text-02
{
    width: 50px;
    height: 61px;
    margin: 21.1px 0px 18px 250px;
    opacity: 0.74;
    @include font();
    font-family: Helvetica;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.22;
    letter-spacing: 0.75px;
    color: #384ea2;
    display: inline-block;
}
.feed__text-03
{
    width: 90px;
    height: 31px;
    margin: 33px 158px 33px 589px;
    @include font();
    font-family: 'Nanum Myeongjo', serif;
    font-size: 27px;
    line-height: 1.15;
    letter-spacing: 0.41px;
    color: #4a4a4a;
    display: inline-block;
}
.login__bar
{
    width: 1920px;
    height: 0;
    border: solid 0.1px #ededed;
}
.login__block-01
{
    width: 775px;
    height: 782px;
    margin: 0px 0 1px;
    padding: 0 0 163px;
    background-color: #fefefe;
    float:left;
}
.login__block__text-01
{
    width: 121px;
    height: 61px;
    margin: 134px 327px 60px 327px;
    @include font();
    font-size: 48px;
    font-weight: normal;
    line-height: 1.27;
    color: #4a4a4a;
    display:inline-block;
}
.login__block-02
{
    margin: 0px 63px 8px 220px;
}
.ID__text-01
{
    @include font();
    width: 25px;
    height: 31px;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.24;
    color: #5b5b5b;
}
.ID__input-01
{
    width: 324px;
    height: 48px;
    margin: 8px 0 10px;
    padding:0px 0px 0px 10px;
    border:0px;
    background-color: #efefef;
}
.PW__text
{
    @extend .ID__text-01;
    width: 37px;
    height: 31px;
    letter-spacing: -1.25px;
}
.login__block__button
{
    width: 80px;
    height: 31px;
    margin: 20px 0px 60px 218px;
    padding: 20px 127px 21px;
    border-radius: 101px;
    border: solid 2px #384ea2;
    background-color: #384ea2;
    display:table;
}
.login__block__button__text
{
    width: 75px;
    height: 31px;
    @include font();
    font-size: 25px;
    font-weight: 500;
    line-height: 1.24;
    letter-spacing: 0.38px;
    text-align: center;
    color: #fff;
    display:table-cell;
    vertical-align:middle;
}
.login__block__text-02
{
    width: 246px;
    height: 27px;
    margin: 0px 0 0 309px;
    @include font();
    font-size: 22px;
    font-weight: 500;
    text-decoration: underline;
    line-height: 1.23;
    color: #384ea2;
    display: inline-block;
}
.login__block-03
{
    width: 1145px;
    height: 782px;
    margin: 0px 0 0 775px;
    background-image: url(../img/login.png);
    background-size: 1145px 782px;
    background-repeat: no-repeat;
}
.login__block__text-03
{
    width: 338px;
    height: 90px;
    margin: 51px 202px 6px 70px;
    @include font();
    font-family: Helvetica;
    font-size: 77px;
    font-weight: 300;
    line-height: 1.17;
    color: #4a4a4a;
    display: inline-block;
}
.login__block__text-04
{
    width: 540px;
    height: 62px;
    margin: 6px 0 495px 70px;
    @include font();
    font-weight: normal;
    font-size: 25px;
    line-height: 1.24;
    color: #4a4a4a;
    display:inline-block;
}
/*반응형*/
@media (max-width: 767px) {
    .login__outer{
      width: 100%;
      position: relative;
    }
    .login__block-03{
        display: none;
    }                    
    .login__block-01{
        width: 100%;
        height: 100%;
        margin: 0px 0 0px;
        padding: 0 0 0px;
        background-color: #fefefe;
        text-align: center;
    }
    .login__block__text-01{
        text-align: center;
        width: 100px;
        margin:0;
        margin-top: 130px;
        font-size: 27px;
        margin-bottom: 33px;
    }
    .login__block-02{
        margin:0;
    }
    .ID__text-01{
        width: 25px;
        height: 31px;
        font-size: 17px;
        margin-left: -210px;
    }
    .ID__input-01
    {
        width: 220px;
        height: 34px;
        margin: 7px 0 15px;
        padding:0px 0px 0px 10px;
        border:0px;
        background-color: #efefef;
    }
    .PW__text{
        width: 37px;
        height: 31px;
    }
    .login__block__button{
        width: 50px;
        height: 25px;
        padding: 9px 70px 13px;
        border-radius: 101px;
        border: solid 2px #384ea2;
        display: block;
        margin: 0 auto;
        margin-bottom: 70px;
    }

.login__block__button__text
{
    width: auto;
    height: 31px;
    font-size: 17px;
    display:table-cell;
    vertical-align:middle;
}
.login__block__text-02
{
    width: auto;
    height: 27px;
    margin: 0px 0 0 0px;
    font-size: 15px;

}
}