@import url(//db.onlinewebfonts.com/c/d87bc93ce13d8967fcd01755292938b2?family=HelveticaNeue+MediumExt);
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@mixin font()
{
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  font-stretch: normal;
  text-align: left;
}
.main {
  width: 1920px;
  height: 1080px;
}
.main-01 {
  background-image: url(../img/background1.jpg);
  background-repeat: no-repeat;
  width: 1903px;
  height: 1280px;
  position: relative;
  z-index: -1;
  margin-top: -33px;
}
.main-02 {
  width: 1580px;
  height: 880px;
  padding: 162px 167px 170px 156px;
  position: relative;
  z-index: 1;
}
.main-02::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/background2.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}
.main__ddaom {
  margin: 89.1px 0 28px 317px;
  display: inline-block;
}
.main__img {
  height: 123px;
}
.main__text__block-01 {
  width: 538px;
  height: 120px;
  margin: 0px 0px 0px 370px;
  @include font();
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.39px;
  text-align: left;
  color: #616161;
  display: inline-block;
}
.main__text__block-02 {
  @extend .main__text__block-01;
  width: 700px;
  font-size: 30px;
}

.main__text-01 {
  font-size: 45px;
  font-weight: 800;
  letter-spacing: 0.68px;
  color: #8064aa;
}
.main__text-02 {
  @extend .main__text-01;
  color: #4a4a4a;
}
.main__text-03 {
  @extend .main__text-02;
  display: inline-block;
}
.main__text-03-1{
  @extend .main__text-02;
  display: inline-block;
}

.main__bar {
  width: 0px;
  height: 151px;
  border: solid 1px #afafaf;
  margin: 0px 0px 0px 375px;
}
.main__hash {
  width: 185px;
  height: 345px;
  opacity: 0.42;
  @include font();
  font-size: 300px;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: 4.5px;
  text-align: left;
  color: #384ea2;
  margin: 0 0 0 30px;
  position: relative;
}
.main__dot-01 {
  width: 17px;
  height: 17px;
  margin: 10px 45px 100px -17px;
  border-radius: 50%;
  background-color: #384ea2;
  display: inline-block;
  position: absolute;
}
.main__dot-02 {
  @extend .main__dot-01;
  margin: 10px 45px 100px 65px;
}
.main__text-04 {
  width: 600px;
  height: 115px;
  margin: 45px 193px 0 -60px;
  @include font();
  font-size: 100px;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: 1.5px;
  color: #384ea2;
  display: inline-block;
  position: absolute;
}
.main__text-05 {
  @extend .main__text-04;
  margin: 160px 193px 0 130px;
}
.main__text__block-03 {
  margin: -50px 0px 0px 510px;
}
.main__text__block-04 {
  margin: -190px 0 0 0;
}
.main__text-06 {
  width: 500px;
  height: 76px;
  margin: -200px 0 20px 1060px;
  @include font();
  font-size: 27px;
  line-height: 1.67;
  letter-spacing: 0.41px;
  text-align: right;
  color: #5b5b5b;
  display: inline-block;
}
.main__button {
  width: 325px;
  height: 105px;
  margin: 20px 0 230px 1225px;
  border-radius: 101px;
  border: solid 4px #384ea2;
  display: inline-block;
  text-align: center;
  position: relative;
}
.main__button__text {
  width: 206px;
  height: 45px;
  @include font();
  font-size: 40px;
  line-height: 1.13;
  letter-spacing: 0.6px;
  text-align: left;
  color: #384ea2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main__button:hover {
  background-color: #384ea2;
}
.main__button__text:hover {
  color: #fff;
}
.circle-01 {
  width: 185px;
  height: 174px;
  margin: 0 0 0 460px;
  padding: 36px;
  border-radius: 50%;
  -webkit-backdrop-filter: opacity(24px);
  backdrop-filter: opacity(24px);
  border: solid 3px #384ea2;
  text-align: center;
  display: inline-block;
  position: relative;
}
.circle-02 {
  @extend .circle-01;
  margin: 0 0 0 -25px;
  position: absolute;
}
.circle-03 {
  @extend .circle-02;
  margin: 0 0 0 213px;
}
.circle-04 {
  @extend .circle-02;
  margin: 0 0 0 452px;
}
.circle__text__number-01 {
  width: 45px;
  height: 108px;
  margin: 0 60px 0px 60px;
  @include font();
  font-family: Helvetica;
  font-size: 90px;
  line-height: 1.2;
  letter-spacing: 1.35px;
  text-align: center;
  color: #a1daec;
}
.circle__text__number-02 {
  @extend .circle__text__number-01;
  color: #a1c7d8;
}
.circle__text__number-03 {
  @extend .circle__text__number-01;
  color: #92a7d2;
}
.circle__text__number-04 {
  @extend .circle__text__number-01;
  color: #384ea2;
}
.circle__text__subject {
  width: 90px;
  height: 59px;
  margin: -15px 0 0 0;
  @include font();
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-size: 47px;
  font-weight: 500;
  line-height: 1.26;
  letter-spacing: 1.65px;
  text-align: left;
  color: #787878;
  display: inline-block;
}
.arrow {
  width: 110px;
  height: 184px;
  margin: 30px 0 0px 28px;
  opacity: 0.61;
  position: absolute;
  display: inline-block;
}
@media (min-width: 767px){
  .mobile-button{
    display:none;
  }
  .main__text__block-02 :first-child{
    display: none;
  }
}


/*반응형*/
@media (max-width: 767px) {
  .main{
    width: 100%;
    position: relative;
  }
  .main-01 {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-top: 0px;
    background-image: url(../img/media_background.png);
  }
  .main-02{
    display: none;
  }
  .main__img{
    display:none;
  }
  .main__ddaom {
    /*margin: 40.1px 0 0px 39px;
    width:35px;
    height: 3px;
    display: inline-block;*/
    display: none;
  }

  .main__text__block-01 {
    font-family: 'SpoqaHanSansNeo-Regular';
    width: auto;
    height: auto;
    margin: 40px 0px 0px 40px;
    line-height: 36px;
  }
  .main__text__block-02 {
    font-family: 'SpoqaHanSansNeo-Regular';
    width: 80%;
    height: auto;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 14px;
    line-height: 22px;
  }

  .main__text__block-02 :last-child{
    display: none;
  }
  .main__text-01 {
    font-size: 27px;
  }
  .main__text-03-1{
    display: none;
  }
  .main__bar {
    width: 0px;
    height: 120px;
    border: solid 0.1px #929292;
    margin: 17px 0px 0px 43px;
  }
  .mobile-button{
    @include font();
    font-family: 'SpoqaHanSansNeo-Regular';
    width: 190px;
    margin: 0 auto;
  }
  .button__text-01{
    font-size: 14px;
    width:190px;
    margin: 160px 0 5px 10px;
    color: #654b8d;
    display: block;
  }
  .button__text-02{
    font-size: 18px;
    color:rgb(243, 243, 243);
    width: 172px;
    height: 54px;
    padding: 10px 0 0 10px;
    border-radius: 35px;
    letter-spacing: 1px;
    background-color: #654b8d;
  }
  .button__text-03{
    margin-top: 8px;
    margin-left: 25px;
  }
}